# # ignore all
# *

# # Unignore all dirs
# !*/

# # Unignore all with extensions
# !*.*

# Object files
obj
*.o
# *.obj

# # libraries
./MLX42
fractol
# *.lib
*.a

# # Executables
# *.exe
# *.out

# Debug files
# *.dSYM/
# *.su
# *.idb
# *.pdb

# VScode
# *.vscode

# DS_Store
**/.DS_Store

# # Ignore `bin` dir
# bin/
# */bin/*